/** comentarios **/
p 
{
    color: rgb(64, 64, 192);
    text-align: center;
}
#texto1
{
    font-size: 20px;
    color: chocolate;
    text-align: justify;
}
.texto2
{
    font-size: 20px;
    color: rgb(30, 210, 30);
    text-align: left;
}